
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#"> <img src="~/assets/images/Logo.png" alt="logo"></a>
        <nav class="navbar-user d-flex align-items-center">
            <div class="image me-2">
                @{
                    <img src=@ViewBag.UserPhoto alt="" height="65" class="rounded-circle">
                }
            </div>
            <a class="user-settings" asp-controller="Profile" asp-action="Profile">
                <i class="fa-solid fa-gear"></i>
            </a>
            <div class="body-navbar-user">
                <div class="text fw-bold">
                    @ViewBag.UserFullName
                </div>
                @*  <a asp-controller="userlogin" asp-action="Index">
                <a asp-page="/Identity/Account/Login">*@
                <a asp-Action="SignOut" asp-controller="Splash">
                    <span class="text-black">Sign out</span>
                    <i class="fa-solid fa-right-from-bracket ms-2 text-primary"></i>
                </a>
            </div>
        </nav>
    </div>
</nav>
