<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/main-logo.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/main-logo.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/fontawesome.min.css" rel="stylesheet">


    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/css/timeManagement.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
</head>
<body>

    <div class="Dashboard-home">
        <nav class="nav-bar-body">
            <div class="logo"> <img class="large-logo" src="~/assets/images/logoWhite.png" alt=""></div>
            <div class="icon-toggle show-aside"> <i class="fas fa-stream fa-flip-horizontal fa-fw fa-xl"></i></div>
            <div class="icon-toggle expand-aside"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><defs><clipPath id="a" clipPathUnits="userSpaceOnUse"><path d="M0 512h512V0H0Z" fill="#000000" data-original="#000000"></path></clipPath></defs><path d="M0 0h-90" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="matrix(1.33333 0 0 -1.33333 226.667 337.333)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h90" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="matrix(1.33333 0 0 -1.33333 106.667 230.83)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h90" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="matrix(1.33333 0 0 -1.33333 106.667 128.163)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h90" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="matrix(1.33333 0 0 -1.33333 106.667 440)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)"><path d="M0 0h-392c-22.092 0-40 17.908-40 40v392c0 22.092 17.908 40 40 40H0c22.092 0 40-17.908 40-40V40C40 17.908 22.092 0 0 0Z" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="translate(452 20)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0v472" style="stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="translate(230 20)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="m0 0 66 66-66 66" style="stroke-linecap: square; stroke-linejoin: miter; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="translate(340 193)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="square" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h-160" style="stroke-linecap: square; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: none; stroke-opacity: 1;" transform="translate(390 259)" fill="none" stroke="#000000" stroke-width="40px" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path></g></g></svg></div>
        </nav>

         <partial name="_Layout_aside" /> 

@*         <div id="loadingSpinner" class="d-none position-fixed w-100 h-100 d-flex justify-content-center align-items-center" style="background: rgba(255, 255, 255, 0.8); z-index: 1000;">
            
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> *@
        <section class="content-category-hotel">

            @* <partial name="_Layout_header" /> *@

            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </section>

    </div>
    <!-- Modal-->
    <partial name="_Modal_Item" />


    @*     <div class="modal fade model-filter-home" id="AddItem" tabindex="-1" aria-labelledby="AddItemLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel"> </h1>
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 mb-3">
    <h4 class="title">Add Item</h4>
    </div>
    <div class="col-lg-6 mb-3">
    <div class="form-group">
    <label>English Name</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-lg-6 mb-3">
    <div class="form-group">
    <label>Arabic Name</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-lg-12 mb-3">
    <h5 class="mb-2">
    Department
    <div class="group-button"> <span class="btn mx-2 rounded-pill btn-outline-master mb-3 active">Maintenance</span><span class="btn mx-2 rounded-pill btn-outline-master mb-3">Reception</span><span class="btn mx-2 rounded-pill btn-outline-master mb-3">Delivery</span><span class="btn mx-2 rounded-pill btn-outline-master mb-3">Procurement </span></div>
    </h5>
    </div>
    <div class="col-lg-12 mb-3">
    <h5 class="mb-2">Assignee</h5>
    <div class="label-Assignee">
    <div class="icon"> <span>K</span></div>
    <div class="text">Katef</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer justify-content-start">
    <button class="btn btn-primary btn-apply rounded-pill col-12" type="button" data-bs-toggle="modal" data-bs-target="#ConfirmAddItem">ADD </button>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade model-state-Table" id="modelStateTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
    <div class="modal-header">
    <div class="modal-title d-flex flex-wrap align-items-center">
    <div class="bg-open text-dark rounded-pill px-4 py-1 mb-2">Open</div>
    <div class="inputs-group mx-3 mb-2">
    <div class="label">Order Created</div>
    <div class="input-value d-flex algin-items-center"> <span class="icon me-2 text-primary"> <i class="fa-solid fa-calendar-days fa-fw"></i></span><span class="text">15 May, 2023</span></div>
    </div>
    <div class="inputs-group mx-3 mb-2">
    <div class="label">&nbsp;</div>
    <div class="input-value d-flex algin-items-center"> <span class="icon me-2 text-primary"> <i class="fa-regular fa-clock fa-fw"></i></span><span class="text">2:00PM</span></div>
    </div>
    <div class="inputs-group mx-3 mb-2">
    <div class="label">Run time</div>
    <div class="input-value d-flex algin-items-center"> <span class="icon me-2 text-primary"> <i class="fa-solid fa-hourglass fa-fw"></i></span><span class="text">02h: 05minutes</span></div>
    </div>
    </div>
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-0">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12"></div>
    <div class="col-lg-5 col-md-12 col-sm-12">
    <div class="Recent-part p-3">
    <h5 class="title">Recent Activity</h5>
    <div class="list-group">
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Hassan Task Created</h5><small>20 min ago</small>
    </div><small class="note">Created at 15/05/202 - 2:00PM</small>
    </div>
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Hassan Added Products</h5><small>25 min ago</small>
    </div><small class="note">Added at 15/05/202 - 2:00PM</small>
    </div>
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Hassan Assigned to Kattef</h5><small>35 min ago</small>
    </div><small class="note">Assigned at 15/05/202 - 2:00PM</small>
    </div>
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Hassan Assigned to Kattef</h5><small>35 min ago</small>
    </div><small class="note">Added at 15/05/202 - 2:00PM</small>
    </div>
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Kattef Completed Order</h5><small>35 min ago</small>
    </div><small class="note">Added at 15/05/202 - 2:00PM</small>
    </div>
    <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 title">Hassan Marked as finished</h5><small>35 min ago</small>
    </div><small class="note">Added at 15/05/202 - 2:00PM</small>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="OrderSMS" tabindex="-1" aria-labelledby="OrderSMSLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-body text-center p-5">
    <div class="icon mb-3 text-primary"> <i class="fa-solid fa-circle-check fa-fw fa-9x"> </i></div>
    <h3 class="mb-3 fw-bold"> Message Resent</h3>
    <p class="mb-3"> Your has been resent.</p><a class="btn btn-master px-5 rounded-pill btn-Create-Order" href="LayoutDashboard.html">Continue</a>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="ConfirmAddItem" tabindex="-1" aria-labelledby="OrderSMSLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-body text-center p-5">
    <div class="icon mb-3 text-primary"> <i class="fa-solid fa-circle-check fa-fw fa-9x"> </i></div>
    <h3 class="mb-3 fw-bold"> Item Added</h3>
    <p class="mb-3"> Your item has been added successfully.</p><a class="btn btn-master px-5 rounded-pill btn-Create-Order" href="Items.html">Continue</a>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="ConfirmSteps" tabindex="-1" aria-labelledby="ConfirmStepsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-body text-center p-5">
    <div class="icon mb-3 text-primary"> <i class="fa-solid fa-circle-check fa-fw fa-9x"> </i></div>
    <h3 class="mb-3 fw-bold"> Inspection submitted</h3>
    <p class="mb-3"> Your inspection has been submitted. Thank you so much</p><a class="btn btn-master px-5 rounded-pill btn-Create-Order" href="LayoutDashboard.html">Continue</a>
    </div>
    </div>
    </div>
    </div> *@

    <script src="~/assets/js/jquery-3.6.3.min.js"> </script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"> </script>
    <script src="~/assets/js/popper.min.js"> </script>
    <script src="~/assets/js/apexcharts.min.js"> </script> 
    <script src="~/assets/js/chartFun.js"> </script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.5/js/dataTables.colReorder.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    @* <script src="~/assets/js/tackphoto.js" asp-append-version="true"></script> *@
    @* <script src="~/assets/js/dragfile.js" asp-append-version="true"></script> *@
    <script src="~/assets/js/main.js" asp-append-version="true"> </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/globalfuncations.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>