@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

<aside class="aside-bar">
    <div class="header">
        <a class="image">
            <img class="large-logo" src="~/assets/images/logoWhite.png" alt="" />
            <img class="small-logo" src="~/assets/images/main-logo.png" alt="" />
        </a>
    </div>
    <div class="body-aside-bar">
        <ul>
            @{
                var permissions = new List<KeyValuePair<string, string>>();

                // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
                var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

                if (!string.IsNullOrEmpty(permissionsJson))
                {
                    permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
                }

                // التحقق من وجود صلاحيات معينة

            }
            @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.ServiceOrders.View"))
            {
                <li class=" ">
                    <a asp-controller="ServiceOrders" asp-action="Index">
                        <div class="icon">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.833 12.7705L12.9375 17.6748L10.5732 15.3018L11.3643 14.5107L12.9375 16.0752L17.042 11.9795L17.833 12.7705ZM9 5.625H5.625V4.5H9V5.625ZM9 7.875H5.625V6.75H9V7.875ZM5.625 9H9V10.125H5.625V9ZM4.5 5.625H3.375V4.5H4.5V5.625ZM4.5 7.875H3.375V6.75H4.5V7.875ZM3.375 9H4.5V10.125H3.375V9ZM10.125 5.625V1.125H2.25V16.875H10.125V18H1.125V0H10.9248L15.75 4.8252V11.25L14.625 12.375V5.625H10.125ZM11.25 4.5H13.8252L11.25 1.9248V4.5Z"
                                fill="#333333" />
                            </svg>
                        </div>
                        <span class="text">Service Orders</span>
                        <span class="Notifi" id="serviceCount">@TempData["ServiceCount"]</span>

                    </a>
                </li>
            }
            @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Dashboard.View"))
            {
                <li class=" ">
                    <a asp-controller="Dashboard" asp-action="Index">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 24 24"
                            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <g>
                                    <g fill="#000">
                                        <path d="M19.77 11.25h-4.04c-2.01 0-2.98-.98-2.98-2.98V4.23c0-2.01.98-2.98 2.98-2.98h4.04c2.01 0 2.98.98 2.98 2.98v4.04c0 2-.98 2.98-2.98 2.98zm-4.04-8.5c-1.18 0-1.48.3-1.48 1.48v4.04c0 1.18.3 1.48 1.48 1.48h4.04c1.18 0 1.48-.3 1.48-1.48V4.23c0-1.18-.3-1.48-1.48-1.48zM8.27 11.25H4.23c-2.01 0-2.98-.89-2.98-2.73V3.98c0-1.84.98-2.73 2.98-2.73h4.04c2.01 0 2.98.89 2.98 2.73v4.53c0 1.85-.98 2.74-2.98 2.74zm-4.04-8.5c-1.34 0-1.48.38-1.48 1.23v4.53c0 .86.14 1.23 1.48 1.23h4.04c1.34 0 1.48-.38 1.48-1.23V3.98c0-.86-.14-1.23-1.48-1.23zM8.27 22.75H4.23c-2.01 0-2.98-.98-2.98-2.98v-4.04c0-2.01.98-2.98 2.98-2.98h4.04c2.01 0 2.98.98 2.98 2.98v4.04c0 2-.98 2.98-2.98 2.98zm-4.04-8.5c-1.18 0-1.48.3-1.48 1.48v4.04c0 1.18.3 1.48 1.48 1.48h4.04c1.18 0 1.48-.3 1.48-1.48v-4.04c0-1.18-.3-1.48-1.48-1.48zM20.5 18.25h-6c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h6c.41 0 .75.34.75.75s-.34.75-.75.75z"
                                        fill="#000" data-original="#000" class=""></path>
                                        <path d="M17.5 21.25c-.41 0-.75-.34-.75-.75v-6c0-.41.34-.75.75-.75s.75.34.75.75v6c0 .41-.34.75-.75.75z"
                                        fill="#000" data-original="#000" class=""></path>
                                    </g>
                                </g>
                            </svg>
                        </div><span class="text"> Dashboard</span>
                    </a>
                </li>
            }
            @*             @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Dashboard.View"))
            {
            <li class=" ">
            <a asp-controller="Dashboard" asp-action="newdashboard">
            <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 24 24"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
            <g fill="#000">
            <path d="M19.77 11.25h-4.04c-2.01 0-2.98-.98-2.98-2.98V4.23c0-2.01.98-2.98 2.98-2.98h4.04c2.01 0 2.98.98 2.98 2.98v4.04c0 2-.98 2.98-2.98 2.98zm-4.04-8.5c-1.18 0-1.48.3-1.48 1.48v4.04c0 1.18.3 1.48 1.48 1.48h4.04c1.18 0 1.48-.3 1.48-1.48V4.23c0-1.18-.3-1.48-1.48-1.48zM8.27 11.25H4.23c-2.01 0-2.98-.89-2.98-2.73V3.98c0-1.84.98-2.73 2.98-2.73h4.04c2.01 0 2.98.89 2.98 2.73v4.53c0 1.85-.98 2.74-2.98 2.74zm-4.04-8.5c-1.34 0-1.48.38-1.48 1.23v4.53c0 .86.14 1.23 1.48 1.23h4.04c1.34 0 1.48-.38 1.48-1.23V3.98c0-.86-.14-1.23-1.48-1.23zM8.27 22.75H4.23c-2.01 0-2.98-.98-2.98-2.98v-4.04c0-2.01.98-2.98 2.98-2.98h4.04c2.01 0 2.98.98 2.98 2.98v4.04c0 2-.98 2.98-2.98 2.98zm-4.04-8.5c-1.18 0-1.48.3-1.48 1.48v4.04c0 1.18.3 1.48 1.48 1.48h4.04c1.18 0 1.48-.3 1.48-1.48v-4.04c0-1.18-.3-1.48-1.48-1.48zM20.5 18.25h-6c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h6c.41 0 .75.34.75.75s-.34.75-.75.75z"
            fill="#000" data-original="#000" class=""></path>
            <path d="M17.5 21.25c-.41 0-.75-.34-.75-.75v-6c0-.41.34-.75.75-.75s.75.34.75.75v6c0 .41-.34.75-.75.75z"
            fill="#000" data-original="#000" class=""></path>
            </g>
            </g>
            </svg>
            </div><span class="text">New Dashboard</span>
            </a>
            </li>
            } *@
            @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Items.View"))
            {
                <li class="">
                    <a asp-controller="Items" asp-action="items">
                        <div class="icon">
                            <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.875 6.45834H2.79167V4.54168H0.875V6.45834ZM0.875 10.2917H2.79167V8.37501H0.875V10.2917ZM0.875 2.62501H2.79167V0.708344H0.875V2.62501ZM4.70833 6.45834H18.125V4.54168H4.70833V6.45834ZM4.70833 10.2917H18.125V8.37501H4.70833V10.2917ZM4.70833 0.708344V2.62501H18.125V0.708344H4.70833ZM0.875 6.45834H2.79167V4.54168H0.875V6.45834ZM0.875 10.2917H2.79167V8.37501H0.875V10.2917ZM0.875 2.62501H2.79167V0.708344H0.875V2.62501ZM4.70833 6.45834H18.125V4.54168H4.70833V6.45834ZM4.70833 10.2917H18.125V8.37501H4.70833V10.2917ZM4.70833 0.708344V2.62501H18.125V0.708344H4.70833Z"
                                fill="#333333" />
                            </svg>
                        </div><span class="text">Items</span>
                    </a>
                </li>
            }

            <li class="item-collapse">
                <a data-bs-toggle="collapse" href="#collapseReports" role="button" aria-expanded="false" aria-controls="collapseReports">
                    <div class="icon">
                        <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.74984 7.74984C8.64493 7.74984 9.50335 7.39427 10.1363 6.76135C10.7692 6.12843 11.1248 5.27001 11.1248 4.37492C11.1248 3.47984 10.7692 2.62141 10.1363 1.98849C9.50335 1.35557 8.64493 1 7.74984 1C6.85476 1 5.99633 1.35557 5.36341 1.98849C4.73049 2.62141 4.37492 3.47984 4.37492 4.37492C4.37492 5.27001 4.73049 6.12843 5.36341 6.76135C5.99633 7.39427 6.85476 7.74984 7.74984 7.74984ZM9.99979 4.37492C9.99979 4.97165 9.76274 5.54393 9.3408 5.96588C8.91885 6.38782 8.34657 6.62487 7.74984 6.62487C7.15312 6.62487 6.58084 6.38782 6.15889 5.96588C5.73694 5.54393 5.4999 4.97165 5.4999 4.37492C5.4999 3.7782 5.73694 3.20592 6.15889 2.78397C6.58084 2.36202 7.15312 2.12497 7.74984 2.12497C8.34657 2.12497 8.91885 2.36202 9.3408 2.78397C9.76274 3.20592 9.99979 3.7782 9.99979 4.37492ZM14.4997 13.3747C14.4997 14.4997 13.3747 14.4997 13.3747 14.4997H2.12497C2.12497 14.4997 1 14.4997 1 13.3747C1 12.2497 2.12497 8.87482 7.74984 8.87482C13.3747 8.87482 14.4997 12.2497 14.4997 13.3747ZM13.3747 13.3702C13.3736 13.0935 13.2015 12.261 12.4387 11.4983C11.7053 10.7648 10.3249 9.99979 7.74984 9.99979C5.17365 9.99979 3.79444 10.7648 3.06095 11.4983C2.29822 12.261 2.12722 13.0935 2.12497 13.3702H13.3747Z"
                            fill="#333333" stroke="#333333" stroke-width="0.2" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.8353 4.53891C18.8877 4.59116 18.9293 4.65323 18.9576 4.72157C18.986 4.7899 19.0006 4.86316 19.0006 4.93715C19.0006 5.01114 18.986 5.0844 18.9576 5.15273C18.9293 5.22107 18.8877 5.28314 18.8353 5.33539L15.4604 8.71031C15.4082 8.7627 15.3461 8.80425 15.2778 8.83261C15.2094 8.86097 15.1362 8.87556 15.0622 8.87556C14.9882 8.87556 14.9149 8.86097 14.8466 8.83261C14.7783 8.80425 14.7162 8.7627 14.6639 8.71031L12.9765 7.02285C12.8709 6.91723 12.8115 6.77398 12.8115 6.62461C12.8115 6.47524 12.8709 6.33199 12.9765 6.22637C13.0821 6.12075 13.2254 6.06141 13.3747 6.06141C13.5241 6.06141 13.6673 6.12075 13.773 6.22637L15.0622 7.51672L18.0389 4.53891C18.0911 4.48653 18.1532 4.44497 18.2215 4.41661C18.2899 4.38825 18.3631 4.37366 18.4371 4.37366C18.5111 4.37366 18.5843 4.38825 18.6527 4.41661C18.721 4.44497 18.7831 4.48653 18.8353 4.53891Z"
                            fill="#333333" stroke="#333333" stroke-width="0.2" />
                        </svg>
                    </div><span class="text">Reports</span>
                </a>
                <div class="collapse" id="collapseReports">
                    <ul>
                        @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Report.Orders"))
                        {

                            <li class="">
                                <a asp-controller="Report" asp-action="OrdersReport">
                                    <div class="icon"> <i class="fa-solid fa-minus"> </i></div><span class="text">Orders</span>
                                </a>
                            </li>
                        }
                        @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Report.Items"))
                        {
                            <li class="">
                                <a asp-controller="Report" asp-action="ItemsReport">
                                    <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Items</span>
                                </a>
                            </li>
                        }
                        @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Report.Inspection"))
                        {
                            <li class="">
                                <a asp-controller="Report" asp-action="InspectionReport">
                                    <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Inspection</span>
                                </a>
                            </li>
                        }
                        @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Report.Analysis"))
                        {
                            <li class="">
                                <a asp-controller="Analysis" asp-action="analysisChart">
                                    <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Analysis</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Notifications.View"))
            {
                <li class=" ">
                    <a asp-controller="Notifications" asp-action="Index">
                        <div class="icon">
                            <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.7778 8.65889V7.22222H11.6667V8.88889C11.6667 9.03622 11.7253 9.1775 11.8294 9.28167L13.3333 10.7856V11.6667H1.11111V10.7856L2.615 9.28167C2.71919 9.1775 2.77775 9.03622 2.77778 8.88889V6.66667C2.77623 5.886 2.98072 5.11874 3.3706 4.4424C3.76049 3.76605 4.32195 3.20457 4.99828 2.81467C5.67461 2.42477 6.44185 2.22025 7.22252 2.22177C8.00319 2.22329 8.76964 2.4308 9.44444 2.82333V1.58167C8.91561 1.34751 8.35314 1.19827 7.77778 1.13944V0H6.66667V1.13889C5.29699 1.2783 4.02764 1.92062 3.10409 2.94166C2.18054 3.96269 1.66839 5.28991 1.66667 6.66667V8.65889L0.162778 10.1628C0.0585837 10.2669 3.14652e-05 10.4082 0 10.5556V12.2222C0 12.3696 0.0585316 12.5109 0.162718 12.6151C0.266905 12.7192 0.408213 12.7778 0.555556 12.7778H4.44444V13.3333C4.44444 14.07 4.7371 14.7766 5.25804 15.2975C5.77897 15.8185 6.48551 16.1111 7.22222 16.1111C7.95894 16.1111 8.66547 15.8185 9.18641 15.2975C9.70734 14.7766 10 14.07 10 13.3333V12.7778H13.8889C14.0362 12.7778 14.1775 12.7192 14.2817 12.6151C14.3859 12.5109 14.4444 12.3696 14.4444 12.2222V10.5556C14.4444 10.4082 14.3859 10.2669 14.2817 10.1628L12.7778 8.65889ZM8.88889 13.3333C8.88889 13.7754 8.71329 14.1993 8.40073 14.5118C8.08817 14.8244 7.66425 15 7.22222 15C6.7802 15 6.35627 14.8244 6.04371 14.5118C5.73115 14.1993 5.55556 13.7754 5.55556 13.3333V12.7778H8.88889V13.3333Z"
                                fill="#333333" />
                                <path d="M12.7779 6.11112C14.0052 6.11112 15.0001 5.11619 15.0001 3.88889C15.0001 2.66159 14.0052 1.66667 12.7779 1.66667C11.5506 1.66667 10.5557 2.66159 10.5557 3.88889C10.5557 5.11619 11.5506 6.11112 12.7779 6.11112Z"
                                fill="#333333" />
                            </svg>
                        </div><span class="text">Notifications</span><span class="Notifi">0</span>
                    </a>
                </li>
            }

            @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Notifications.View"))
            {
                <li class="">
                    <a asp-controller="TimeManagement" asp-action="TimeManagement">
                        <div class="icon">
                            <svg id="Layer_1" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m61 48.13h-1a.89.89 0 0 1 -.62-1.5l.72-.63a1 1 0 0 0 0-1.41l-2.65-2.69-.1-.07a26.44 26.44 0 0 0 .65-5.83 26 26 0 0 0 -22-25.69v-2.31h3.65a2.36 2.36 0 0 0 2.35-2.35v-1.3a2.36 2.36 0 0 0 -2.35-2.35h-15.3a2.36 2.36 0 0 0 -2.35 2.35v1.3a2.36 2.36 0 0 0 2.35 2.35h3.65v2.31a26 26 0 1 0 15.67 48.91l.88.88a1 1 0 0 0 1.41 0l.67-.67a.89.89 0 0 1 1.5.62v1a1 1 0 0 0 1 1h3.75a1 1 0 0 0 1-1v-1a.88.88 0 0 1 1.49-.62l.67.67a1 1 0 0 0 1.41 0l2.65-2.65a1 1 0 0 0 0-1.41l-.67-.67a.88.88 0 0 1 .62-1.49h1a1 1 0 0 0 1-1v-3.75a1 1 0 0 0 -1.05-1zm-36.65-42.13a.35.35 0 0 1 -.35-.35v-1.3a.35.35 0 0 1 .35-.35h15.3a.35.35 0 0 1 .35.35v1.3a.35.35 0 0 1 -.35.35zm9.65 2v2.08c-.66-.08-1.33-.08-2-.08s-1.34 0-2 .08v-2.08zm8.57 47.37-.67.63a1 1 0 0 0 0 1.41l.28.28a24 24 0 1 1 12.82-14.91.91.91 0 0 1 -.6 0 .84.84 0 0 1 -.54-.8v-.98a1 1 0 0 0 -1-1h-.26a21.51 21.51 0 0 0 .4-4 21.05 21.05 0 1 0 -10.44 18.13.81.81 0 0 1 .19.29.84.84 0 0 1 -.18.95zm-.67-9.37.67.67a.89.89 0 0 1 -.62 1.5h-.95a1 1 0 0 0 -1 1v3.75a1.2 1.2 0 0 0 .06.32 19 19 0 1 1 10.94-17.24 19.14 19.14 0 0 1 -.43 4h-1.44a1 1 0 0 0 -1 1v1a.89.89 0 0 1 -1.5.62l-.63-.72a1 1 0 0 0 -1.41 0l-2.69 2.65a1 1 0 0 0 0 1.45zm18.1 5.88a2.87 2.87 0 0 0 -2 4.86l-1.25 1.26a2.84 2.84 0 0 0 -3.1-.58 2.81 2.81 0 0 0 -1.77 2.58h-1.75a2.89 2.89 0 0 0 -4.88-2l-1.25-1.26a2.87 2.87 0 0 0 -2-4.86v-1.76a2.87 2.87 0 0 0 2-4.86l1.25-1.26a2.89 2.89 0 0 0 4.88-2h1.75a2.81 2.81 0 0 0 1.77 2.6 2.84 2.84 0 0 0 3.1-.58l1.25 1.24a2.87 2.87 0 0 0 2 4.86z" /><path d="m51 44.67a6.33 6.33 0 1 0 6.33 6.33 6.34 6.34 0 0 0 -6.33-6.33zm0 10.66a4.33 4.33 0 1 1 4.33-4.33 4.33 4.33 0 0 1 -4.33 4.33z" /><path d="m31 18h2v4h-2z" /><path d="m46 35h4v2h-4z" /><path d="m31 50h2v4h-2z" /><path d="m14 35h4v2h-4z" /><path d="m33.44 33.39a3 3 0 0 0 -1.44-.39 3 3 0 0 0 -2.5 1.35l-5.26-1.35-.48 2 5.24 1.29a3 3 0 0 0 6-.29 3 3 0 0 0 -.22-1.13l6.89-6.12-1.34-1.5zm-1.44 3.61a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z" /></svg>
                        </div>
                        <span class="text">Time Management</span>
                    </a>
                </li>
            }
            <li class="item-collapse">
                <a data-bs-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false" aria-controls="collapseSettings ">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M13.12 24h-2.24a1.498 1.498 0 0 1-1.486-1.32l-.239-1.876a9.45 9.45 0 0 1-1.374-.569l-1.494 1.161a1.492 1.492 0 0 1-1.985-.126l-1.575-1.575a1.488 1.488 0 0 1-.122-1.979l1.161-1.495a9.232 9.232 0 0 1-.569-1.374l-1.88-.239A1.501 1.501 0 0 1 0 13.12v-2.24c0-.757.567-1.396 1.32-1.486l1.876-.239a9.45 9.45 0 0 1 .569-1.374l-1.16-1.494a1.49 1.49 0 0 1 .127-1.986l1.575-1.575a1.489 1.489 0 0 1 1.979-.122L7.78 3.766a9.416 9.416 0 0 1 1.375-.569l.239-1.88C9.484.567 10.123 0 10.88 0h2.24c.757 0 1.396.567 1.486 1.32l.239 1.876c.478.155.938.346 1.375.569l1.494-1.161a1.49 1.49 0 0 1 1.985.127l1.575 1.575c.537.521.591 1.374.122 1.979L20.235 7.78c.224.437.415.897.569 1.374l1.88.239A1.5 1.5 0 0 1 24 10.88v2.24c0 .757-.567 1.396-1.32 1.486l-1.876.239a9.45 9.45 0 0 1-.569 1.374l1.161 1.494a1.49 1.49 0 0 1-.127 1.985l-1.575 1.575a1.487 1.487 0 0 1-1.979.122l-1.495-1.161a9.232 9.232 0 0 1-1.374.569l-.239 1.88A1.5 1.5 0 0 1 13.12 24zm-5.39-4.86c.083 0 .168.021.244.063a8.393 8.393 0 0 0 1.774.736.5.5 0 0 1 .358.417l.28 2.2c.03.251.247.444.494.444h2.24a.504.504 0 0 0 .493-.439l.281-2.204a.5.5 0 0 1 .358-.417 8.393 8.393 0 0 0 1.774-.736.499.499 0 0 1 .55.042l1.75 1.36a.492.492 0 0 0 .655-.034l1.585-1.585a.495.495 0 0 0 .039-.66l-1.36-1.75a.5.5 0 0 1-.042-.55 8.393 8.393 0 0 0 .736-1.774.5.5 0 0 1 .417-.358l2.2-.28A.507.507 0 0 0 23 13.12v-2.24a.504.504 0 0 0-.439-.493l-2.204-.281a.5.5 0 0 1-.417-.358 8.393 8.393 0 0 0-.736-1.774.497.497 0 0 1 .042-.55l1.36-1.75a.49.49 0 0 0-.033-.654l-1.585-1.585a.492.492 0 0 0-.66-.039l-1.75 1.36a.5.5 0 0 1-.551.042 8.359 8.359 0 0 0-1.774-.736.5.5 0 0 1-.358-.417l-.28-2.2A.507.507 0 0 0 13.12 1h-2.24a.504.504 0 0 0-.493.439l-.281 2.204a.502.502 0 0 1-.358.418 8.356 8.356 0 0 0-1.774.735.5.5 0 0 1-.551-.041l-1.75-1.36a.49.49 0 0 0-.654.033L3.434 5.014a.495.495 0 0 0-.039.66l1.36 1.75a.5.5 0 0 1 .042.55 8.341 8.341 0 0 0-.736 1.774.5.5 0 0 1-.417.358l-2.2.28A.505.505 0 0 0 1 10.88v2.24c0 .247.193.464.439.493l2.204.281a.5.5 0 0 1 .417.358c.18.626.428 1.223.736 1.774a.497.497 0 0 1-.042.55l-1.36 1.75a.49.49 0 0 0 .033.654l1.585 1.585a.494.494 0 0 0 .66.039l1.75-1.36a.515.515 0 0 1 .308-.104z" fill="#000000" data-original="#000000"></path><path d="M12 17c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-9c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z" fill="#000000" data-original="#000000"></path></g></svg>
                    </div><span class="text">Settings</span>
                </a>
                <div class="collapse" id="collapseSettings">
                    <ul>
                        @*<li class="">
                        <a asp-controller="Department" asp-action="Department">
                        <div class="icon"> <i class="fa-solid fa-minus"> </i></div><span class="text"> Department</span>
                        </a>
                        </li>
                        <li class=" ">
                        @*<a asp-controller="Users" asp-action="Users">
                        <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">User</span>
                        </a>
                        <a asp-controller="IdentityRole" asp-action="Index">
                        <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Roles</span>
                        </a>
                        </li>
                        <li class=" ">
                        <a asp-controller="IdentityUser" asp-action="IdentityUsers">

                        <div class="icon">
                        @*ma <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_759_235)">
                        <path d="M8.33334 7.96667C8.65556 7.61112 8.90289 7.20556 9.07534 6.75001C9.24778 6.29445 9.33378 5.82223 9.33334 5.33334C9.33334 4.84445 9.24711 4.37223 9.07467 3.91667C8.90223 3.46112 8.65511 3.05556 8.33334 2.70001C9 2.78889 9.55556 3.08334 10 3.58334C10.4444 4.08334 10.6667 4.66667 10.6667 5.33334C10.6667 6.00001 10.4444 6.58334 10 7.08334C9.55556 7.58334 9 7.87778 8.33334 7.96667ZM11.6833 13.3333C11.7833 13.2556 11.8611 13.1582 11.9167 13.0413C11.9722 12.9244 12 12.794 12 12.65V11.3333C12 10.9333 11.9111 10.5527 11.7333 10.1913C11.5556 9.83001 11.3222 9.51067 11.0333 9.23334C11.6 9.43334 12.1251 9.69178 12.6087 10.0087C13.0922 10.3256 13.3338 10.7671 13.3333 11.3333V12.6667C13.3333 12.8556 13.2693 13.014 13.1413 13.142C13.0133 13.27 12.8551 13.3338 12.6667 13.3333H11.6833ZM14 8.66667C13.8111 8.66667 13.6527 8.60267 13.5247 8.47467C13.3967 8.34667 13.3329 8.18845 13.3333 8.00001V7.33334H12.6667C12.4778 7.33334 12.3193 7.26934 12.1913 7.14134C12.0633 7.01334 11.9996 6.85512 12 6.66667C12 6.47778 12.064 6.31934 12.192 6.19134C12.32 6.06334 12.4782 5.99956 12.6667 6.00001H13.3333V5.33334C13.3333 5.14445 13.3973 4.98601 13.5253 4.85801C13.6533 4.73001 13.8116 4.66623 14 4.66667C14.1889 4.66667 14.3473 4.73067 14.4753 4.85867C14.6033 4.98667 14.6671 5.14489 14.6667 5.33334V6.00001H15.3333C15.5222 6.00001 15.6807 6.06401 15.8087 6.19201C15.9367 6.32001 16.0004 6.47823 16 6.66667C16 6.85556 15.936 7.01401 15.808 7.14201C15.68 7.27001 15.5218 7.33378 15.3333 7.33334H14.6667V8.00001C14.6667 8.18889 14.6027 8.34734 14.4747 8.47534C14.3467 8.60334 14.1884 8.66712 14 8.66667ZM5.33334 8.00001C4.6 8.00001 3.97222 7.73889 3.45 7.21667C2.92778 6.69445 2.66667 6.06667 2.66667 5.33334C2.66667 4.60001 2.92778 3.97223 3.45 3.45001C3.97222 2.92778 4.6 2.66667 5.33334 2.66667C6.06667 2.66667 6.69445 2.92778 7.21667 3.45001C7.73889 3.97223 8 4.60001 8 5.33334C8 6.06667 7.73889 6.69445 7.21667 7.21667C6.69445 7.73889 6.06667 8.00001 5.33334 8.00001ZM0.666669 13.3333C0.47778 13.3333 0.319336 13.2693 0.191336 13.1413C0.0633356 13.0133 -0.000442138 12.8551 2.30681e-06 12.6667V11.4667C2.30681e-06 11.0889 0.0973356 10.7416 0.292002 10.4247C0.486669 10.1078 0.744891 9.86623 1.06667 9.70001C1.75556 9.35556 2.45556 9.09712 3.16667 8.92467C3.87778 8.75223 4.6 8.66623 5.33334 8.66667C6.06667 8.66667 6.78889 8.75289 7.5 8.92534C8.21111 9.09778 8.91111 9.35601 9.6 9.70001C9.92222 9.86667 10.1807 10.1084 10.3753 10.4253C10.57 10.7422 10.6671 11.0893 10.6667 11.4667V12.6667C10.6667 12.8556 10.6027 13.014 10.4747 13.142C10.3467 13.27 10.1884 13.3338 10 13.3333H0.666669ZM5.33334 6.66667C5.7 6.66667 6.014 6.53601 6.27534 6.27467C6.53667 6.01334 6.66711 5.69956 6.66667 5.33334C6.66667 4.96667 6.536 4.65267 6.27467 4.39134C6.01334 4.13001 5.69956 3.99956 5.33334 4.00001C4.96667 4.00001 4.65267 4.13067 4.39134 4.392C4.13 4.65334 3.99956 4.96712 4 5.33334C4 5.70001 4.13067 6.01401 4.392 6.27534C4.65334 6.53667 4.96711 6.66712 5.33334 6.66667ZM1.33334 12H9.33334V11.4667C9.33334 11.3444 9.30267 11.2333 9.24134 11.1333C9.18 11.0333 9.09956 10.9556 9 10.9C8.4 10.6 7.79445 10.3751 7.18334 10.2253C6.57222 10.0756 5.95556 10.0004 5.33334 10C4.71111 10 4.09445 10.0751 3.48334 10.2253C2.87222 10.3756 2.26667 10.6005 1.66667 10.9C1.56667 10.9556 1.486 11.0333 1.42467 11.1333C1.36334 11.2333 1.33289 11.3444 1.33334 11.4667V12Z"
                        fill="#333333" />
                        </g>
                        <defs>
                        <clipPath id="clip0_759_235">
                        <rect width="16" height="16" fill="white" />
                        </clipPath>
                        </defs>
                        </svg>
                        <i class="fa-solid fa-minus"></i>
                        </div><span class="text">Staff</span>
                        </a>
                        </li>
                        <li class="">
                        <a asp-controller="InspectionSetup" asp-action="Index">
                        <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Inspection </span>
                        </a>
                        </li> *@

                        <li class="">
                            <a asp-controller="Organization" asp-action="Organization">
                                <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Organization </span>
                            </a>
                        </li>

                        @if (permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Profile.View"))
                        {
                            <li class="">
                                <a asp-controller="Profile" asp-action="Profile">
                                    <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">My Profile    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </li>
            @* <li class=" dropdown ">
            <a href="#">
            <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M13.12 24h-2.24a1.498 1.498 0 0 1-1.486-1.32l-.239-1.876a9.45 9.45 0 0 1-1.374-.569l-1.494 1.161a1.492 1.492 0 0 1-1.985-.126l-1.575-1.575a1.488 1.488 0 0 1-.122-1.979l1.161-1.495a9.232 9.232 0 0 1-.569-1.374l-1.88-.239A1.501 1.501 0 0 1 0 13.12v-2.24c0-.757.567-1.396 1.32-1.486l1.876-.239a9.45 9.45 0 0 1 .569-1.374l-1.16-1.494a1.49 1.49 0 0 1 .127-1.986l1.575-1.575a1.489 1.489 0 0 1 1.979-.122L7.78 3.766a9.416 9.416 0 0 1 1.375-.569l.239-1.88C9.484.567 10.123 0 10.88 0h2.24c.757 0 1.396.567 1.486 1.32l.239 1.876c.478.155.938.346 1.375.569l1.494-1.161a1.49 1.49 0 0 1 1.985.127l1.575 1.575c.537.521.591 1.374.122 1.979L20.235 7.78c.224.437.415.897.569 1.374l1.88.239A1.5 1.5 0 0 1 24 10.88v2.24c0 .757-.567 1.396-1.32 1.486l-1.876.239a9.45 9.45 0 0 1-.569 1.374l1.161 1.494a1.49 1.49 0 0 1-.127 1.985l-1.575 1.575a1.487 1.487 0 0 1-1.979.122l-1.495-1.161a9.232 9.232 0 0 1-1.374.569l-.239 1.88A1.5 1.5 0 0 1 13.12 24zm-5.39-4.86c.083 0 .168.021.244.063a8.393 8.393 0 0 0 1.774.736.5.5 0 0 1 .358.417l.28 2.2c.03.251.247.444.494.444h2.24a.504.504 0 0 0 .493-.439l.281-2.204a.5.5 0 0 1 .358-.417 8.393 8.393 0 0 0 1.774-.736.499.499 0 0 1 .55.042l1.75 1.36a.492.492 0 0 0 .655-.034l1.585-1.585a.495.495 0 0 0 .039-.66l-1.36-1.75a.5.5 0 0 1-.042-.55 8.393 8.393 0 0 0 .736-1.774.5.5 0 0 1 .417-.358l2.2-.28A.507.507 0 0 0 23 13.12v-2.24a.504.504 0 0 0-.439-.493l-2.204-.281a.5.5 0 0 1-.417-.358 8.393 8.393 0 0 0-.736-1.774.497.497 0 0 1 .042-.55l1.36-1.75a.49.49 0 0 0-.033-.654l-1.585-1.585a.492.492 0 0 0-.66-.039l-1.75 1.36a.5.5 0 0 1-.551.042 8.359 8.359 0 0 0-1.774-.736.5.5 0 0 1-.358-.417l-.28-2.2A.507.507 0 0 0 13.12 1h-2.24a.504.504 0 0 0-.493.439l-.281 2.204a.502.502 0 0 1-.358.418 8.356 8.356 0 0 0-1.774.735.5.5 0 0 1-.551-.041l-1.75-1.36a.49.49 0 0 0-.654.033L3.434 5.014a.495.495 0 0 0-.039.66l1.36 1.75a.5.5 0 0 1 .042.55 8.341 8.341 0 0 0-.736 1.774.5.5 0 0 1-.417.358l-2.2.28A.505.505 0 0 0 1 10.88v2.24c0 .247.193.464.439.493l2.204.281a.5.5 0 0 1 .417.358c.18.626.428 1.223.736 1.774a.497.497 0 0 1-.042.55l-1.36 1.75a.49.49 0 0 0 .033.654l1.585 1.585a.494.494 0 0 0 .66.039l1.75-1.36a.515.515 0 0 1 .308-.104z" fill="#000000" data-original="#000000"></path><path d="M12 17c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-9c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z" fill="#000000" data-original="#000000"></path></g></svg>
            </div><span class="text">Settings</span>
            </a>
            <ul>
            <li class="">
            <a asp-controller="Department" asp-action="Department">
            <div class="icon"> <i class="fa-solid fa-minus"> </i></div><span class="text"> Department</span>
            </a>
            </li>
            <li class="  ">
            <a asp-controller="Users" asp-action="Users">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">User</span>
            </a>
            <a asp-controller="IdentityUser" asp-action="Index">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Users</span>
            </a>
            </li>
            <li class="  ">
            <a asp-controller="Users" asp-action="Users">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">User</span>
            </a>
            <a asp-controller="IdentityRole" asp-action="Index">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Roles</span>
            </a>
            </li>
            <li class="">
            <a asp-controller="InspectionSetup" asp-action="Index">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Inspection </span>
            </a>
            </li>
            <li class="">
            <a asp-controller="Organization" asp-action="Organization">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">Organization </span>
            </a>
            </li>
            <li class="">
            <a asp-controller="Profile" asp-action="Profile">
            <div class="icon"> <i class="fa-solid fa-minus"></i></div><span class="text">My Profile    </span>
            </a>
            </li>
            </ul>
            </li> *@
            <li class=" ">
                @*<form asp-action="SignOut" asp-controller="Splash" method="post" style="display:inline;">
                <button type="submit" class="btn btn-link text-decoration-none">
                <div class="icon">
                </div>
                <span class="text">Sign out</span>
                </button>
                </form> *@
                <a asp-Action="SignOut" asp-controller="Splash">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M13.5 21h-4a.5.5 0 0 1 0-1h4c.827 0 1.5-.673 1.5-1.5v-5a.5.5 0 0 1 1 0v5c0 1.378-1.121 2.5-2.5 2.5zM23.5 11h-10a.5.5 0 0 1 0-1h10a.5.5 0 0 1 0 1z" fill="#333" opacity="1" data-original="#000000"></path><path d="M8 24c-.22 0-.435-.037-.638-.109l-5.99-1.997A1.998 1.998 0 0 1 0 20V2C0 .897.897 0 2 0c.222 0 .438.037.639.11l5.989 1.996A1.996 1.996 0 0 1 10 4v18c0 1.103-.897 2-2 2zM2 1c-.552 0-1 .449-1 1v18a1 1 0 0 0 .688.946l6 2C8.344 23.179 9 22.654 9 22V4a.996.996 0 0 0-.688-.945l-6-2A.92.92 0 0 0 2 1z" fill="#000000" opacity="1" data-original="#000000"></path><path d="M15.5 8a.5.5 0 0 1-.5-.5v-5c0-.827-.673-1.5-1.5-1.5H2a.5.5 0 0 1 0-1h11.5C14.879 0 16 1.122 16 2.5v5a.5.5 0 0 1-.5.5zM19.5 15a.5.5 0 0 1-.354-.853l3.646-3.646-3.646-3.646a.5.5 0 0 1 .707-.707l4 4a.5.5 0 0 1 0 .707l-4 4A.501.501 0 0 1 19.5 15z" fill="#333" opacity="1" data-original="#000000"></path></g></svg>
                    </div><span class="text">Sign out</span>
                </a>
            </li>

        </ul>
    </div>
</aside>

