<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/main-logo.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/main-logo.png" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link href="~/css/companyregstylesheet.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="login-page">
        <div class="container ">
            <div class="row justify-content-center">
                @* <div class="col-lg-6 col-md-12 col-sm-12"></div> *@
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <a href="index.html">
                        <div class="image-main-logo">
                            <img class="w-100" src="~/assets/images/Logo.png" alt="Logo"/>
                        </div>
                    </a>
                    <h1 class="mb-1 text-center fw-bold">Welcome Back</h1>
                    <p class="text-center mb-5">New Joined? <a href="#">Sign Up</a></p>
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.6.3.min.js"> </script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"> </script>
    <script src="~/assets/js/popper.min.js"> </script>
    <script src="~/assets/js/main.js" asp-append-version="true"> </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>