
<div class="modal fade model-filter-home " id="ModalChangeAssignee" tabindex="-1" aria-labelledby="ChangeAssigneeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Item</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-start">
                <button class="btn btn-primary btn-apply rounded-pill col-12" type="button" onclick="changebasketitem();">Change </button>
            </div>
        </div>
    </div>
</div>

<script>
    function changebasketitem() {
        // alert("editbasketitem");

        var modalbody = $(".modal-body");

        if (modalbody.length > 0) {

            var objdata = $("#ddlChangItem");

            var itemCount = $("#ModalinputCount").val();
            var itemVal = $("#ddlChangItem").val();
            var itemText = $("#ddlChangItem option:selected").text();

            var departmentVal = $("#ddlChangDepartment").val();
            var departmentText = $("#ddlChangDepartment option:selected").text();

            // var empAssigneeVal = $("#ddlChangAssignee").val();
            // var empAssigneeText = $("#ddlChangAssignee option:selected").text();

            var basketid = objdata.data("basketid");
            //var basketorderid = objdata.data("basketorderid");
            var basketorderid = objdata.data("orderid");
            var olditemid = objdata.data("olditemid");

            $.ajax({
                url: '@Url.Action("UpdateItemBasketOrder", "CreateOrders")',
                type: "POST",
                //data: { "Obj1": Obj1, "Obj2": Obj2, "ListOfObj1": ListOfObj1 },
                data: {
                    "OrderId": basketorderid, "Basketid": basketid, "newitemid": itemVal, "olditemid": olditemid,
                    "newitemname": itemText, "newQty": itemCount,
                    "departmentid": departmentVal//, "empAssigneeid": empAssigneeVal
                },
                dataType: "json",
                success: function (result) {
                    //alert("5");
                    if (result.success) {
                        // alert("6");
                        $(".selectobject").each(function () {
                            //var ItemsDataBlockDiv = $("body").find(".selectobject");
                            //alert("1");
                            var ItemsDataBlockDiv = $(this);

                            //Edit button update
                            ItemsDataBlockDiv.find(".js-render-title-item").text(itemText + ' (' + itemCount + ')');
                            ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-itemqty", itemCount);
                            ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-itemname", itemText);
                            ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-itemid", itemVal);
                            //ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-itemid", itemVal);
                            ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-olddepartmentid", departmentText);
                            ItemsDataBlockDiv.find(".js-render-modal-item").attr("data-olddepartmentname", departmentVal);
                            
                            //Delete button update
                            ItemsDataBlockDiv.find(".js-removeitembasket").attr("data-itemid", itemVal);
                            
                            //department lable update
                            ItemsDataBlockDiv.find(".js-render-displaydepartmentname").text(departmentText);

                            // alert("7");
                            //edit Aziz
                            // var ddlempassign = ItemsDataBlockDiv.find("#ddlEmpAssignee");
                            // if (!ddlempassign == null || ddlempassign != undefined) {
                            //     ddlempassign.empty();
                            //     // ddlempassign.append($("<option></option>")
                            //     //     .attr("value", "0")
                            //     //     .text("Select Employee"));
                            //     result.empdata.forEach(function (item) {
                            //         ddlempassign.append($("<option></option>")
                            //             .attr("value", item.value)
                            //             .text(item.text));
                            //     });

                            //     ///set option select 
                            //     ddlempassign.find('option').each(function () {
                            //         if ($(this).val() === empAssigneeVal) {
                            //             // Set the "selected" attribute for the desired option
                            //             $(this).prop('selected', true);
                            //         }
                            //     });
                            // }

                            // DataItem.data("itemid", ItemVal);
                            // DataItem.data("itemqty", ItemCount);
                            // DataItem.data("itemname", ItemText);
                        });

                        $("#ModalChangeAssignee").modal('hide');

                    } else {
                        alert(result.message);
                    }
                },
                error: function (err) {
                    return false;
                }
            });

            //alert("3");
            //$("#ModalChangeAssignee").modal('hide');
        }
        else {
            alert("0");
        }
    }
    //Backup function
    function editbasketitem2() {
        alert("editbasketitem2");
        var ddlChangItemData = $("#ddlChangItem");
        var ddlChangItem = $("#ddlChangItem option:selected");
        var newQty = $("#ModalinputCount").val();


        var newitem = ddlChangItem.val();
        var newitemname = ddlChangItem.text();
        var basketid = ddlChangItemData.data("basketid");
        var basketorderid = ddlChangItemData.data("orderid");

        var titleitem = $(`titleitem_${basketorderid}`);
        alert(titleitem);
        //        var testbody = $('body').find('#titleitem_20');
        var testbody = $('body #titleitem_20');
        alert(testbody);
        var LocationID = $("hdLocationId").val();
        var LocationName = $("hdLocationName").val();
        //how to assign data to object come from modal popup in asp.net core 6 mvc
        console.log(LocationID);
        console.log(LocationName);

        $.ajax({
            url: '@Url.Action("UpdateItemBasketOrder", "CreateOrders")',
            type: "POST",
            //data: { "Obj1": Obj1, "Obj2": Obj2, "ListOfObj1": ListOfObj1 },
            data: { "OrderId": basketorderid, "Basketid": basketid, "newitemid": newitem, "newitemname": newitemname, "newQty": newQty },
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    // alert(result.message);
                    // alert(result.orderguid);
                    //console.log(result.returnData);

                    //if (result.returnData && result.returnData.age == 25) {
                    //var =$".js-render-title-item"
                    // var parentrow = ddlChangItemData.parents('.js-basketitem');
                    // console.log(parentrow);
                    // var h4itemname = parentrow.children('.js-render-title-item');
                    var newitemdata = `${newitemname} ( ${newQty} )`;
                    console.log(titleitem);

                    titleitem.html(newitemdata);
                    //showListItem(basketid,LocationID, LocationName);
                    $("#ModalChangeAssignee").modal('hide');

                } else {
                    alert(result.message);
                }
            },
            error: function (err) {
                return false;
            }
        });
    }
    function showListItem(basketid, LocationID, LocationName) {
        //alert("showListItem");
        $.ajax({
            url: '@Url.Action("ShowBasketList", "CreateOrders")',
            type: "GET",
            data: { "BasketID": basketid, "LocationID": LocationID, "LocationName": LocationName },
            dataType: "json",
            success: function () {
            },
            error: function (err) {
                return false;
            }
        });
    }
</script>