@{
    Layout = "_Layout_main";
}

<div id="pageMasterLoad">
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-header p-3 d-flex justify-content-between mx-2">
                        <div class="title fw-bold">Notifications</div><span class="badge rounded-pill">9</span>
                    </div>
                    <div class="card-body p-0">            </div>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action active" href="#" aria-current="true">
                            <div class="title d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Katef Assigned you task</h5><small>20 mins ago</small>
                            </div><small>Order 455, Room 201</small>
                            <p class="mb-1">Please check the task for details.</p>
                        </a><a class="list-group-item list-group-item-action" href="#">
                            <div class="title d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Muthna completed the task</h5><small class="text-body-secondary">3 hours ago</small>
                            </div><small class="text-body-secondary">Order 345, Room: 102</small>
                            <p class="mb-1">Muthna Added notes, please check.</p>
                        </a><a class="list-group-item list-group-item-action" href="#">
                            <div class="title d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Muthna completed the task</h5><small class="text-body-secondary">3 hours ago</small>
                            </div><small class="text-body-secondary">Order 345, Room: 102</small>
                            <p class="mb-1">Muthna Added notes, please check.</p>
                        </a><a class="list-group-item list-group-item-action" href="#">
                            <div class="title d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Muthna completed the task</h5><small class="text-body-secondary">3 hours ago</small>
                            </div><small class="text-body-secondary">Order 345, Room: 102</small>
                            <p class="mb-1">Muthna Added notes, please check.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>