@model LoginViewModel
@{
    Layout = "/Views/Shared/_Layout_login";
}

<form class="form-content px-5" method="post"asp-controller="Userlogin" asp-action="Login">
    <div class="input-group mb-3">
        <span class="input-group-text"> <i class="fa-solid fa-hotel fa-fw"></i></span>
        <div class="form-floating">
            <input class="form-control" id="txtOrganization" type="text" placeholder="Organization" asp-for="Organization">
            <label for="floatingInput">Organization</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text"> <i class="fa-regular fa-envelope  fa-fw"></i></span>
        <div class="form-floating">
            <input class="form-control" id="txtemail" type="email" placeholder="name@example.com" asp-for="Loginemail">
            <label for="floatingInput">Email </label>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text"> <i class="fa-solid fa-key  fa-fw"></i></span>
        <div class="form-floating">
            
            <input class="form-control" id="txtPassword" type="password" placeholder="Password" asp-for="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
    <div class="row justify-content-between mb-3">
        <div class="mb-3 form-check col-lg-6 col-md-6 col-sm-12 ps-5">
             <input class="form-check-input" id="chkremember" type="checkbox" asp-for="Remember"> 
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="forget col-lg-6 col-md-6 col-sm-12 text-end"><a href="ForgetPassword.html">Forget Password?</a></div>
    </div>
    <button type="submit" class="btn btn-dark w-100 d-block" >Sign In</button>
</form>