@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout_main";
}
@{
    var permissions = new List<KeyValuePair<string, string>>();

    // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
    var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

    if (!string.IsNullOrEmpty(permissionsJson))
    {
        permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
    }

    // التحقق من وجود صلاحيات معينة
    bool canRole = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Role.View");
    bool canEdit = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Edit");
    bool canDelete = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Delete");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">
                    <div class="input-group me-3">
                        <input id="txtSearch" class="form-control" type="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-master" id="button-addon2" type="button" onclick="DashboardSearch()"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button class="btn btn-outline-master d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-arrow-down-wide-short me-2"></i>Filter</button>
                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.CreateOrders.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                        }
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.InspectionOrder.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>

<div class="time-management addTask-page" id="pageMasterLoad">
    <div class="container-fluid pt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Task Status</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Over View</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">All Tasks</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <header class="header-filter mt-3 g-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label" for="">Employee</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected="">Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label" for="">Shift</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected="">Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label" for="">Room</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected="">Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3 text-end">
                                    <label class="form-label" for="">&nbsp;</label><a class="btn btn-master rounded-pill d-block"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="table-responsive-task-status">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th style="width:2%"> </th>
                                <th style="width:18%">  Employees</th>
                                <th style="width:20%">New</th>
                                <th style="width:20%">Active</th>
                                <th style="width:20%">Resolved</th>
                                <th style="width:20%">Closed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="full-screen">
                                <td class="text-center">
                                    <div class="icon-toggle-down"><i class="fa-solid fa-caret-right"></i></div>
                                </td>
                                <td class="employee-name">Mohamed Alaa Said</td>
                                <td class="td-colspan" colspan="4"> <span class="new me-2">9 not started </span><span class="active me-2">1 in progress </span><span class="Closed me-2">3 in Close</span></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 113</div>
                                            <div class="type-room bg-secondary">T</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 132</div>
                                            <div class="type-room bg-success">D</div>
                                        </h6>
                                        <div class="hour-time">Inspected / 2 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 125</div>
                                            <div class="type-room bg-primary">S</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-warning">V</div>
                                        </h6>
                                        <div class="hour-time">DND / 1 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-primary"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Active</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal"></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-danger">K</div>
                                        </h6>
                                        <div class="hour-time">Cleaned / 10 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-success"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Closed</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li></li>
                                                    <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a>
                                                    <li></li>
                                                    <a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="full-screen">
                                <td class="text-center">
                                    <div class="icon-toggle-down"><i class="fa-solid fa-caret-right"></i></div>
                                </td>
                                <td class="employee-name">Abd El Rahman Mohamed</td>
                                <td class="td-colspan" colspan="4"> <span class="new me-2">9 not started  </span><span class="active me-2">1 in progress </span><span class="Closed">3 in Close </span></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 113</div>
                                            <div class="type-room bg-secondary">T</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 132</div>
                                            <div class="type-room bg-success">D</div>
                                        </h6>
                                        <div class="hour-time">Inspected / 2 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 125</div>
                                            <div class="type-room bg-primary">S</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-warning">V</div>
                                        </h6>
                                        <div class="hour-time">DND / 1 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-primary"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Active</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal"></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-danger">K</div>
                                        </h6>
                                        <div class="hour-time">Cleaned / 10 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-success"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Closed</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li></li>
                                                    <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a>
                                                    <li></li>
                                                    <a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="full-screen">
                                <td class="text-center">
                                    <div class="icon-toggle-down"><i class="fa-solid fa-caret-right"></i></div>
                                </td>
                                <td class="employee-name">Ahmed Ali Ayman</td>
                                <td class="td-colspan" colspan="4"> <span class="new me-2">9 not started </span><span class="active me-2">1 in progress </span><span class="Closed me-2">3 in Close</span></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 113</div>
                                            <div class="type-room bg-secondary">T</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 132</div>
                                            <div class="type-room bg-success">D</div>
                                        </h6>
                                        <div class="hour-time">Inspected / 2 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 113Room 125</div>
                                            <div class="type-room bg-primary">S</div>
                                        </h6>
                                        <div class="hour-time">Stripped / 5 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-body-tertiary"> <i class="fa-solid fa-circle me-1 fa-2xs"></i>New</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-warning">V</div>
                                        </h6>
                                        <div class="hour-time">DND / 1 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-primary"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Active</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="normal"></td>
                                <td class="normal">
                                    <div class="holiday Work-time mb-1">
                                        <h6 class="d-flex justify-content-between">
                                            <div class="text">Room 127</div>
                                            <div class="type-room bg-danger">K</div>
                                        </h6>
                                        <div class="hour-time">Cleaned / 10 Credits</div>
                                        <div class="footer-card justify-content-between">
                                            <div class="status text-success"><i class="fa-solid fa-circle me-1 fa-2xs"></i>Closed</div>
                                            <div class="dropdown">
                                                <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#ChangeStatus">Change Status</a></li>
                                                    <li><a class="dropdown-item" type="button" onclick="confirm('Do You Want To Remove Task!')">Remove Task</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input class="btn-check" id="btnradio1" type="radio" name="btnradio" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio1">To Day</label>
                        <input class="btn-check" id="btnradio2" type="radio" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">By Week</label>
                        <input class="btn-check" id="btnradio3" type="radio" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">By Month</label>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header p-3 mx-2 fw-bold">Total Tasks </div>
                                <div class="card-body">
                                    <div id="TotalTasks"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header p-3 mx-2 fw-bold">Burndown Trend</div>
                                <div class="card-body">
                                    <div id="chartOverView"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <div class="container-fluid mt-3 mb-5">
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <div class="card-task">
                                <div class="card-header">
                                    <h5>Mohamed Alaa Said</h5>
                                    <p>20/09/2024</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">No. </th>
                                                <th class="text-center">Fo </th>
                                                <th class="text-center">Cr</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        <tbody>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Seq: </div>
                                        <div class="total-task"> <span class="task-stats text-danger">2 | </span><span class="task-stats text-success">5 | </span><span class="task-stats text-warning">3 </span></div>
                                    </div>
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Rooms: 6  </div>
                                        <div class="title">Credits: 29 </div>
                                        <div class="title">Floors: 1 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-task">
                                <div class="card-header">
                                    <h5>Mohamed Alaa Said</h5>
                                    <p>20/09/2024</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">No. </th>
                                                <th class="text-center">Fo </th>
                                                <th class="text-center">Cr</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        <tbody>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Seq: </div>
                                        <div class="total-task"> <span class="task-stats text-danger">2 | </span><span class="task-stats text-success">5 | </span><span class="task-stats text-warning">3 </span></div>
                                    </div>
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Rooms: 6  </div>
                                        <div class="title">Credits: 29 </div>
                                        <div class="title">Floors: 1 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-task">
                                <div class="card-header">
                                    <h5>Mohamed Alaa Said</h5>
                                    <p>20/09/2024</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">No. </th>
                                                <th class="text-center">Fo </th>
                                                <th class="text-center">Cr</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        <tbody>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Seq: </div>
                                        <div class="total-task"> <span class="task-stats text-danger">2 | </span><span class="task-stats text-success">5 | </span><span class="task-stats text-warning">3 </span></div>
                                    </div>
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Rooms: 6  </div>
                                        <div class="title">Credits: 29 </div>
                                        <div class="title">Floors: 1 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-task">
                                <div class="card-header">
                                    <h5>Mohamed Alaa Said</h5>
                                    <p>20/09/2024</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">No. </th>
                                                <th class="text-center">Fo </th>
                                                <th class="text-center">Cr</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        <tbody>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Seq: </div>
                                        <div class="total-task"> <span class="task-stats text-danger">2 | </span><span class="task-stats text-success">5 | </span><span class="task-stats text-warning">3 </span></div>
                                    </div>
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Rooms: 6  </div>
                                        <div class="title">Credits: 29 </div>
                                        <div class="title">Floors: 1 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-task">
                                <div class="card-header">
                                    <h5>Mohamed Alaa Said</h5>
                                    <p>20/09/2024</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">No. </th>
                                                <th class="text-center">Fo </th>
                                                <th class="text-center">Cr</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        <tbody>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-primary" style="width:5px"></td>
                                                <td class="text-center">101</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">2 </td>
                                                <td class="text-center">S </td>
                                                <td class="text-center">
                                                    <div class="text">Cleaned</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warning" style="width:5px"></td>
                                                <td class="text-center">115</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">5 </td>
                                                <td class="text-center">Vip </td>
                                                <td class="text-center">
                                                    <div class="text">For inspection	</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success" style="width:5px"></td>
                                                <td class="text-center">132</td>
                                                <td class="text-center">OCC </td>
                                                <td class="text-center">3 </td>
                                                <td class="text-center">D </td>
                                                <td class="text-center">
                                                    <div class="text">Inspected</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td class="bg-danger" style="width:5px"></td>
                                                <td class="text-center">127</td>
                                                <td class="text-center">VAC </td>
                                                <td class="text-center">7 </td>
                                                <td class="text-center">t </td>
                                                <td class="text-center">
                                                    <div class="text">DND</div>
                                                </td>
                                                <td class="text-center"> <a type="button"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Seq: </div>
                                        <div class="total-task"> <span class="task-stats text-danger">2 | </span><span class="task-stats text-success">5 | </span><span class="task-stats text-warning">3 </span></div>
                                    </div>
                                    <div class="border-top d-flex justify-content-between p-1">
                                        <div class="title">Rooms: 6  </div>
                                        <div class="title">Credits: 29 </div>
                                        <div class="title">Floors: 1 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.icon-toggle-down').click(function () {
                $(this).closest('tr').toggleClass('full-screen');
            });
            $('.employee-name').click(function () {
                $(this).closest('tr').toggleClass('full-screen');
            });

            var options = {
                chart: {
                    type: "line",
                    height: 350
                },

                series: [
                    {
                        name: "Ideal Trend",
                        type: "line",
                        data: [300, 250, 200, 150, 100, 50, 0],
                        color: "#feb019"
                    },
                    {
                        name: "Remaining",
                        type: "area",
                        data: [330, 230, 210, 190],
                        color: "#0078D4"
                    }
                ],
                stroke: {
                    width: [5, 2]
                },
                dataLabels: {
                    enabled: false
                },
                fill: {
                    opacity: [0.85, 0.25],
                    gradient: {
                        inverseColors: false,
                        shade: "light",
                        type: "vertical",
                        opacityFrom: 0.85,
                        opacityTo: 0.55
                    }
                },
                xaxis: {
                    categories: [
                        "Sunday",
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday"
                    ]
                }
            };

            var chart = new ApexCharts(document.querySelector("#chartOverView"), options);
            chart.render();


            var options = {
                chart: {
                    type: "donut",
                    height: 500
                },

                labels: ["New", "Active", "Resolved", "Closed"],
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    fontSize: "22px",
                                    fontFamily: "Rubik",
                                    color: "#f00",
                                    offsetY: -10
                                },
                                value: {
                                    show: true,
                                    fontSize: "16px",
                                    fontFamily: "Helvetica, Arial, sans-serif",
                                    color: undefined,
                                    fontWeight: 900,
                                    offsetY: 16,
                                    color: "#333",
                                    formatter: function (val) {
                                        return val;
                                    }
                                },
                                total: {
                                    show: true,
                                    label: "Total",
                                    color: "#333",
                                    fontWeight: 900,
                                    formatter: function (w) {
                                        return w.globals.seriesTotals.reduce((a, b) => {
                                            return a + b;
                                        }, 0);
                                    }
                                }
                            }
                        }
                    }
                },
                series: [44, 55, 41, 17],
                tooltip: {
                    enabled: true,

                    y: {
                        series: [
                            {
                                name: "series A"
                            },
                            {
                                name: "series B"
                            }
                        ],
                        title: {
                            formatter: function (seriesName) {
                                return "";
                            }
                        }
                    }
                },
                legend: {
                    show: true,
                    position: "bottom",
                    labels: {
                        colors: "#333"
                    },
                    markers: {
                        width: 12,
                        height: 12,
                        strokeWidth: 0,
                        radius: 0
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#TotalTasks"), options);

            chart.render();
        });

        
    
    </script>
}