@model Category
@{
    ViewBag.Title = "Add Category";
}
<h2>Add Category</h2>
<form method="post" asp-action="Create">
    <label>Name:<br /><input type="text" name="Name" required /></label><br />
    <label>Description:<br /><textarea name="Description"></textarea></label><br />
    <button type="submit">Add Category</button>
    <span asp-validation-summary="All"></span>
</form>