@{
    Layout = "_Layout_Splash";
}
<div class="col-lg-4 col-md-6 col-sm-6">
    <a class="category-item" asp-controller="ServiceOrders" asp-action="Index">
        <div class="image"> <img src="~/assets/images/Svg/ServiceOrders.svg" alt=""></div>
        <div class="heder-category-item"> Service Orders</div>
    </a>
</div>
@if (ViewBag.HasPermissionDashboardView == true)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="category-item" asp-controller="Dashboard" asp-action="Index">
            <div class="image"> <img src="~/assets/images/Svg/dashboard.svg" alt=""></div>
            <div class="heder-category-item"> Dashboard </div>
        </a>
    </div>
}
@if (ViewBag.HasPermissionInspectionOrderView == true)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="category-item" asp-controller="InspectionOrder" asp-action="InspectionOrder">
            <div class="image"> <img src="~/assets/images/Svg/RoomInspection.svg" alt=""></div>
            <div class="heder-category-item"> Room Inspection </div>
        </a>
    </div>
}
@if (ViewBag.HasPermissionStaffManagementView == true)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="category-item" asp-controller="IdentityUser" asp-action="IdentityUsers">
            <div class="image"> <img src="~/assets/images/Svg/StaffManagement.svg" alt=""></div>
            <div class="heder-category-item"> Staff Management</div>
        </a>
    </div>
}
@if (ViewBag.HasPermissionItemsView == true)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="category-item" asp-controller="Items" asp-action="Items">
            <div class="image"> <img src="~/assets/images/Svg/Items.svg" alt=""></div>
            <div class="heder-category-item"> Items</div>
        </a>
    </div>
}
@if (ViewBag.HasPermissionOrganizationView == true)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <a class="category-item" asp-controller="Organization" asp-action="Organization">
            <div class="image"> <img src="~/assets/images/Svg/Settings.svg" alt=""></div>
            <div class="heder-category-item"> Organization</div>
        </a>
    </div>
}
