@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout_login";
}

@* <h4>@ViewData["Title"]</h4>
 <h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating  mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div> *@


<div class="col-lg-6 col-md-12 col-sm-12"></div>
<div class="col-lg-6 col-md-12 col-sm-12">
    <a href="index.html">
        <div class="image-main-logo"><img class="w-100" src="~/assets/images/Logo.png" alt="Logo"></div>
    </a>
    <h1 class="mb-1 text-center fw-bold">Forget Password</h1>
    <p class="text-center mb-5">Already have account? <a href="login.html">Sign In</a></p>
    <div class="container">
        <main role="main" class="pb-3">
            <form class="form-content px-5" action="">
                <div class="input-group mb-3">
                    <span class="input-group-text"> <i class="fa-regular fa-envelope"></i></span>
                    <div class="form-floating">
                        <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com">
                        <label for="floatingInput">Email </label>
                    </div>
                </div>
                <button class="btn btn-dark w-100 d-block" type="submit">Send Email</button>
            </form>
        </main>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
